@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
/* font-family: 'Montserrat', sans-serif; */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(62, 62, 62);
}
.wrapper {
    padding: 50px;
}
h1 {
    font-size: 52px;
    padding: 20px 0 10px;
}
.task-creator{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    min-width: 300px;
    max-width: 500px;
}
.task-creator__input{
    border: 1px rgb(165, 165, 165) solid;
    border-radius: 7px; 
    padding: 5px; 
    width: 90%;
    font-size: 22px;
}
.task-creator__input:focus, input[type="text"]:focus {
    outline: none;
}
/* .task-creator__input::placeholder {
    padding: 0 1px;
} */
.task-creator__button {
    width: 68px;
    height: 68px;
    border: 1px rgb(165, 165, 165) solid;
    border-radius: 15px;
    font-size: 32px;
    cursor: pointer;
}

.task-created {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.task-child {
    display:flex;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
    font-size: 25px;
}
.task-child .task-child__created-task{
    text-align: start;

}
.task-child__delete-button {
    margin-left: auto;
}
.task-child__delete-button input {
    border-radius: 5px;
    border: 1px rgb(165, 165, 165) solid;
    width: 25px;
    height: 25px;
    font-size: 15px;  
    cursor: pointer;
} 
/* Виконане завдання */
.complited-task {
    text-decoration: line-through;
    text-decoration-thickness: 0.7px;
    color: rgb(186, 186, 186);
}
input[type="checkbox"]{
    cursor: pointer;
}
input[type="text"]{
    font-size: 25px;
}
.task-completed {
    margin-top: 10px;
    display: none;
}
.task-completed h3 {
    font-size: 18px;
    margin: auto;
    text-align: center;
    cursor: pointer;
    width: 70px;
    height: 15px;
}
.task-completed h3:hover {
    font-size: 19px;
}
.task-completed .arrow {
    cursor: pointer;
    margin: auto;
    text-align: center;
    margin-top: 3px;
    width: 30px;
    font-size: 30px;
}
.task-completed .line{
    margin-top: -8px;
    margin-bottom: 5px;
    display: block;
    border-top: 1px rgb(186, 186, 186) solid;
}
.show {
    display: block;
}
.hide {
    display: none;
}